@import "_mixin.scss";
@include container;
@include fonts;

*{
    font-family: "Circe Bold";
}

.header{
    background-color: $brownverydark;
    a{
        color: white;
    }
    &__container{
        box-sizing: border-box;
        padding: 15px 92px 15px 171px;
        margin: 0 auto;
        max-width: 1440px;
    }
    &__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        text-align: center;

        color: #FFFFFF;
    }
    &__button{
        border: 2px solid #FFFFFF;
        padding: 10px;
        align-items: center;
    }
}

.hero{
    background-color: $brownback;

    &__flex{
        display: flex;
        align-items: center;
    }
    &__left{
        padding-left: 29px;
    }
    &__title{
        padding-top: 156px;
        font-family: 'Bitter Pro';
        font-style: normal;
        font-weight: 800;
        font-size: 96px;
        line-height: 157px;
        color: #FFFFFF;
    }
    &__text{
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
        max-width: 620px;
        padding-bottom: 162px;
    }
    img{
        margin-left: 67px;
    }
}

.problems{
    span{
        color: $redbright;
    }
    background-color: $brownlight;
    &__title{
        padding-top: 28px;
        padding-left: 29px;
        font-family: 'Bitter Pro';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 78px;
        color: #FFFFFF;
        margin-bottom: 88px;
    }
    &__column{
        display: flex;
        flex-direction: column;
        background: #9d6645;
        border-radius: 32px;
        padding: 25px 30px;
    }
    &__list{
        margin-bottom: 18px;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        gap: 60px;
        padding-bottom: 40px;
        align-items: center;
    }
    &__row:nth-child(2){
        margin-top: 88px;
    }
    &__row:nth-child(4){
        margin-top: 41px;
        padding-right: 5px;
        padding-bottom: 85px;
    }
    .list__two{
        margin-bottom: 84px;
    }
    &__button{
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;

        color: #000000;
        background-color: white;
        border-radius: 22px;
        padding: 10px 20px;
        margin: 0 50px;
        text-align: center;
    }
    &__subtitle{
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 47px;
        color: #FFFFFF;
    }
    &__item{
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 35px;
        color: #FFFFFF;
    }
}

.adventages{
    background-color: $brownbacklight;
    &__column{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 75px;
    }
    .column-two{
        padding-top: 108px;
    }
    .column-three{
        padding-top: 101px;
    }
    &__row{
        display: flex;
        align-items: center;
        padding-bottom: 73px;
        justify-content: space-between;
        gap: 130px;
    }
    &__text{
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: white;
    padding-top: 16px;
    }
}

.reviews{
    background-color: $brownlighter;
    &__column{
        display: flex;
        flex-direction: column;
        gap: 95px;
        padding-bottom: 191px;
    }
    &__title{
        font-family: 'Bitter Pro';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 78px;
        color: #FFFFFF;
        padding-left: 31px;
        padding-top: 47px;
        margin-bottom: 67px;
    }
    &__name{
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 59px;
        color: #FFFFFF;
    }
    &__item{
        display: flex;
        gap: 28px;
        background-color: $brownlight;
        border-radius: 33px;
        padding: 38px 25px 25px 27px;
    }
    &__item__right{
        display: flex;
        flex-direction: column;
    }
    &__scores{
        display: flex;
    }
    &__item__upper{
        display: flex;
        align-items: center;
        gap: 9px;
    }
    &__text{
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: #FFFFFF;
    }
}

.partners{
    background-color: $browndark;
    &__title{
        font-family: 'Bitter Pro';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 78px;
        color: #FFFFFF;
        padding-left: 31px;
        padding-top: 67px;
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper{
        margin-top: 100px;
        padding: 0 150px 137px;
    }
    .row-two{
        margin-top: 96px;
    }
}

.footer{
    background-color: $brownverydark;
    padding-top: 45px;
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    &__row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        text-align: left;
    }
    &__column:nth-child(2){
        h4{
            padding-bottom: 12px;
        }
    }
}

footer .container{
    text-align: center;
}



.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup {
    position: absolute;
    background: #F2E6D5;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top: 60px;
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup form input {
    margin-bottom: 30px;
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.popup form input[type="submit"] {
    color: #ffffff;
    font-size: 24px;
    background: $brownlight;
    border-radius: 11px;
    border-bottom: 0px solid;
}
.popup form input[type="text"]{
    background-color: #F2E6D5;
}
.popup form input[type="email"]{
background-color: #F2E6D5;
}
.popup form input[type="password"]{
background-color: #F2E6D5;
}
.popup__title{
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    color: #000000;
    text-align: center;
    margin-bottom: 90px;
}
.close-popup {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

.no-scroll {
    overflow-y: hidden;
}

.popup__link{
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration-line: underline;

    color: rgba(0, 0, 0, 0.61);
    text-align: center;
}


// ВТОРОЙ ПОПАП

.popup-bg2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup2 {
    position: absolute;
    background: #ffffff;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top: 60px;
}

.popup2 form {
    display: flex;
    flex-direction: column;
}

.popup2 form input {
    margin-bottom: 30px;
    height: 50px;
    font-size: 20px;
    border-bottom: 3px solid black;
}

.popup2 form input[type="submit"] {
    color: #ffffff;
    font-size: 24px;
    background: #224B63;
    border-radius: 11px;
}

.popup2__title{
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    color: #000000;
    text-align: center;
    margin-bottom: 90px;
}

.close-popup2 {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

.no-scroll {
    overflow-y: hidden;
}

.popup2__link{
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration-line: underline;

    color: rgba(0, 0, 0, 0.61);
    text-align: center;
}



// 3 ПОПАП
.popup-bg3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.close-popup3 {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

// БУРГЕР
.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}





/* BURGER END */
@media screen and (max-width:1432px) and (min-width:480px) {
    .header__links{
        display: none;
    }
    /*////////BURGER//////*/

    .header__burger-btn {
        display: block;
    }
    .header__nav {
        position: absolute;
        top: -550px;
        width: 350px;
        background: #9D6645;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
        opacity: 0.8;
    }
    .header__links {
        display: block;
    }
    .header__links a{
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }
    .header.open .header__nav {
        transform: translateY(100%);
        color: black;
    }
    /*//////BURGER END ///////*/

    .hero__flex{
        flex-direction: column;
    }
    .hero img{
        padding-bottom: 75px;
    }

    .problems__row{
        flex-direction: column;
        margin-top: 0px !important;
    }

    .problems__column{
        margin-bottom: 30px;
    }

    .adventages__row{
        flex-direction: column;
        gap: 50px;
    }

    .partners__row{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
}

@media screen and (max-width:1130px) and (min-width:480px){
    .footer__row{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .header__container{
        padding-left: 50px;
    }
}

@media screen and (max-width:812px) and (min-width:480px){
    .reviews__item__upper{
        flex-direction: column;
        align-items: normal;
    }
    .reviews__item{
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width:684px) and (min-width:480px){
    .hero_right img{
        width: 400px;
    }
    .hero__text{
        padding-bottom: 50px;
    }
}

@media screen and (max-width:524px) and (min-width:480px){
    .partners__row img{
        width: 70%;
    }
    .partners__wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width:558px) and (min-width:480px){
    .hero__title{
        font-size: 65px;
    }
    .hero__text{
        width: 300px;
    }
}

@media screen and (max-width:535px) and (min-width:480px){
    .problems__title{
        padding-left: 0px !important;
    }
}