@import "_mixin.scss";
@include container;
@include fonts;

*{
    font-family: "Circe Bold";
}
.check__result {
    margin-top: 10px;
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    text-align: center;

    color: #FFFFFF;
}

.header{
    background-color: $brownverydark;
    a{
        color: white;
    }
    &__container{
        box-sizing: border-box;
        padding: 15px 92px 15px 171px;
        margin: 0 auto;
        max-width: 1440px;
    }
    &__links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        text-align: center;

        color: #FFFFFF;
    }
    &__button{
        border: 2px solid #FFFFFF;
        padding: 10px;
        align-items: center;
    }
}
.hero{
    background-color: $brownbacklight;
    &__wrapper{
        padding-top: 142px;
        display: flex;
        gap: 108px;
        padding-bottom: 185px;
    }
    &__title{
        font-family: 'Bitter Pro';
        font-style: normal;
        font-weight: 800;
        font-size: 96px;
        line-height: 157px;
        color: #FFFFFF;
    }
}
.stages{
    background-color: $brownmiddle;
    &__title{
        font-family: 'Bitter Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        color: #FFFFFF;
        padding-top: 85px;
    }
    &__item__title{
        font-family: 'Bitter Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 77px;
        color: #FFFFFF;
        padding-top: 125px;
        padding-bottom: 85px;
    }
    &__item__lower{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
    }
    &__item{
        padding-left: 150px;
    }
    &__item__text{
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 47px;
        text-align: right;
        color: #FFFFFF;
        width: 728px;
    }
    &__wrapper{
        padding-bottom: 124px;
    }
}

.adventages{
    background-color: $brownlighter;
    &__column{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 75px;
    }
    .column-two{
        padding-top: 95px;
    }
    &__row{
        display: flex;
        align-items: center;
        padding-bottom: 38px;
        justify-content: space-between;
        gap: 55px;
        padding-top: 45px;
    }
    &__text{
        font-family: 'Circe Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        text-align: center;
        color: white;
        padding-top: 20px;
    }
}
.check{
    background-color: $brownmiddlelight;
    text-align: center;
    padding-bottom: 334px;
    &__title{
        font-family: 'Bitter Pro';
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 78px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 56px;
        margin-bottom: 102px;
    }
    &__input{
        border: 3px solid #FFFFFF;
        border-radius: 52px;
        background-color: inherit;
        font-size: 48px;
        text-align: center;
        color: #FFFFFF;
        padding: 14px 75px;
        ::placeholder{
            font-family: 'Circe Bold';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 71px;
            text-align: center;
            color: rgba(255, 255, 255, 0.56);
        }
    }
}
.footer{
    background-color: $brownverydark;
    padding-top: 45px;
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    &__row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        text-align: left;
    }
    &__column:nth-child(2){
        h4{
            padding-bottom: 12px;
        }
    }
}

footer .container{
    text-align: center;
}

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup {
    position: absolute;
    background: #F2E6D5;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top: 60px;
}

.popup form {
    display: flex;
    flex-direction: column;
}

.popup form input {
    margin-bottom: 30px;
    height: 50px;
    font-size: 20px;
    border-bottom: 1px solid black;
}

.popup form input[type="submit"] {
    color: #ffffff;
    font-size: 24px;
    background: $brownlight;
    border-radius: 11px;
    border-bottom: 0px solid;
}
.popup form input[type="text"]{
    background-color: #F2E6D5;
}
.popup form input[type="email"]{
background-color: #F2E6D5;
}
.popup form input[type="password"]{
background-color: #F2E6D5;
}
.popup__title{
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    color: #000000;
    text-align: center;
    margin-bottom: 90px;
}
.close-popup {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

.no-scroll {
    overflow-y: hidden;
}

.popup__link{
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration-line: underline;

    color: rgba(0, 0, 0, 0.61);
    text-align: center;
}


// ВТОРОЙ ПОПАП

.popup-bg2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup2 {
    position: absolute;
    background: #ffffff;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top: 60px;
}

.popup2 form {
    display: flex;
    flex-direction: column;
}

.popup2 form input {
    margin-bottom: 30px;
    height: 50px;
    font-size: 20px;
    border-bottom: 3px solid black;
}

.popup2 form input[type="submit"] {
    color: #ffffff;
    font-size: 24px;
    background: #224B63;
    border-radius: 11px;
}

.popup2__title{
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 71px;
    color: #000000;
    text-align: center;
    margin-bottom: 90px;
}

.close-popup2 {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

.no-scroll {
    overflow-y: hidden;
}

.popup2__link{
    font-family: 'Circe Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-decoration-line: underline;

    color: rgba(0, 0, 0, 0.61);
    text-align: center;
}



// 3 ПОПАП
.popup-bg3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.close-popup3 {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
}

// БУРГЕР
.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}





@media screen and (max-width:1432px) and (min-width:480px) {
    .header__links{
        display: none;
    }
    /*////////BURGER//////*/

    .header__burger-btn {
        display: block;
    }
    .header__nav {
        position: absolute;
        top: -550px;
        width: 350px;
        background: $brownverydark;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
        opacity: 0.8;
    }
    .header__links {
        display: block;
    }
    .header__links a{
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }
    .header.open .header__nav {
        transform: translateY(100%);
        color: black;
    }
    /*//////BURGER END ///////*/
}

@media screen and (max-width:1288px) and (min-width:480px){
    .hero__wrapper{
        flex-direction: column;
        img{
            width: 100%;
        }
    }
    .stages__item__lower{
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width:1068px) and (min-width:480px){
    .stages__item{
        padding-left: 0px;
    }
    .adventages__row{
        flex-direction: column;
    }
}

@media screen and (max-width:891px) and (min-width:480px){
    .check__input{
        padding: 14px 20px;
        width: 100%;
    }
    .check__title{
        font-size: 35px;
    }
}

@media screen and (max-width:835px) and (min-width:480px){
    .stages__item__text{
        width: 400px;
    }
}

@media screen and (max-width:1130px) and (min-width:480px){
    .footer__row{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .header__container{
        padding-left: 50px;
    }
}

@media screen and (max-width:690px) and (min-width:480px){
    .hero__title{
        width: 100%;
        font-size: 65px;
    }
    .stages__item__title{
        font-size: 45px;
    }
}